* {
    padding: 0;
    margin: 0;
    color: #1a1f36;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
}

.box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-color: transparent;
    padding: 2%;
    box-shadow: 5px 8px #3a20751f;
    width: 75vw;
    background-color: #ffffff;
    left: 2%;
    top: 2%;
    min-width: 300px;
}

body{
    background-color: #bbcce2;
}

.title{
    display: block;
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 4%;
    color: #461e63;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 20px;
    background-color: #6b48eb;
    font-weight: 500;
    color: white;
    padding: 10px;
    width: 40%;
    border: none;
    font-size: medium;
    box-shadow: 5px 8px #3a20751f;
}